node_modules/
dist/*.tar.gz
dist/*.zip
dist/*.deb
dist/*.rpm
dist/pkg/
dist/src/
target/
.tauri/
src/target/
*.lock
!Cargo.lock
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local

# OS
Thumbs.db
